.env
.env.*
!.env.example

__pycache__/
*.py[cod]

.venv/
venv/

*.db
*.db-*
*.sqlite
*.sqlite3
*.sqlite*-*

.vscode/
.idea/

*.log
*.bak

dist/
build/
*.egg-info/
.venv-build/
build/
dist/
*.spec
.pytest_cache/
.ruff_cache/
